<%
  school_body||=@school_body
%>
<div ="views school_bodies dl">
  <dl>
    <dt><%=t('ID')%></dt><dd><%=h school_body.id %></dd>
    <dt><%=t('XID')%></dt><dd><%=h school_body.xid %></dd>
    <dt><%=t('Name')%></dt><dd><%=h school_body.name %></dd>
  </dl>
</div>
