<%
  school_administrator||=@school_administrator
%>
<div class="views school_administrators dl">
  <dl>
    <dt><%=t('ID')%></dt><dd><%=h school_administrator.id %></dd>
    <dt><%=t('XID')%></dt><dd><%=h school_administrator.xid %></dd>
    <dt><%=t('Name')%></dt><dd><%=h school_administrator.name %></dd>
  </dl>
</div>
