<%
  school_principal||=@school_principal
%>
<div class="views school_principals dl">
  <dl>
    <dt><%=t('ID')%></dt><dd><%=h school_principal.id %></dd>
    <dt><%=t('XID')%></dt><dd><%=h school_principal.xid %></dd>
    <dt><%=t('Name')%></dt><dd><%=h school_principal.name %></dd>
  </dl>
</div>
