<%
  school_board||=@school_board
%>
<div class="views school_boards dl">
  <dl>
    <dt><%=t('ID')%></dt><dd><%=h school_board.id %></dd>
    <dt><%=t('XID')%></dt><dd><%=h school_board.xid %></dd>
    <dt><%=t('Name')%></dt><dd><%=h school_board.name %></dd>
  </dl>
</div>
