<%
  school_room||=@school_room
%>
<div ="views school_rooms dl">
  <dl>
    <dt><%=t('ID')%></dt><dd><%=h school_room.id %></dd>
    <dt><%=t('XID')%></dt><dd><%=h school_room.xid %></dd>
    <dt><%=t('Name')%></dt><dd><%=h school_room.name %></dd>
  </dl>
</div>
