<%
  school||=@school
%>
<div class="views schools dl">
  <dl>
    <dt><%=t('ID')%></dt><dd><%=h school.id %></dd>
    <dt><%=t('XID')%></dt><dd><%=h school.xid %></dd>
    <dt><%=t('Name')%></dt><dd><%=h school.name %></dd>
  </dl>
</div>
