<%
  school_grade_levels||=@school_grade_levels
%>
<div class="views school_grade_levels table">
  <table class="data sortable">
    <thead>
      <tr>
        <th><%=t('ID')%></th>
        <th><%=t('XID')%></th>
        <th><%=t('Name')%></th>
      </tr>
    </thead>
    <tbody>
      <% school_grade_levels.each do |x| %>
        <tr>
          <td><%=x.id%></td>
          <td><%=x.xid%></td>
          <td><%=x.name%></td>
        </tr>
      <%  end %>
    </tbody>
    <tfoot></tfoot>
  </table>
</div>
