<%
  school_teacher||=@school_teacher
%>
<div class="views school_teachers dl">
  <dl>
    <dt><%=t('ID')%></dt><dd><%=h school_teacher.id %></dd>
    <dt><%=t('XID')%></dt><dd><%=h school_teacher.xid %></dd>
    <dt><%=t('Name')%></dt><dd><%=h school_teacher.name %></dd>
  </dl>
</div>
